@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            background-image: url(../images/annelies-geneyn-bhBONc07WsI-unsplash.jpg);
            background-color: #cccccc;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /*position: relative;*/
        }
        .text {
            text-align: center;
            position: relative;
            margin-top: 4%;
            font-size: 4rem;
            font-weight: 900;
            left: 50%;
            transform: translate(-50%, -50%);
            color: goldenrod;
        }
    </style>
</head>
<body>
    <p class="text">BookStore Management
    </p >
</body>
</html>


