@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-info">Welcome</h1>
    <h3 class="text-info">BookStore Management App</h3>
    <br/>
    <p>You can easily add, update and delete books from the book collection</p>
    <p>Click on the Booklist to check the List of Books</p>
</div>
